<div class="container_small-card">
  <div class="container_small-card-content"> 
    <a href="">
      <div class="small-card_photo">
        <img 
        src="https://assetsio.gnwcdn.com/league-of-legends-requisitos-minimos-lol-1626456007951.jpg?width=1200&height=1200&fit=bounds&quality=70&format=jpg&auto=webp" 
        alt=""
        >
      </div>
      <div class="small-card_title">
        <h1>Os Baús Hextec voltaram</h1>
      </div>
    </a>
    <div class="small-card_separator">
      <hr>
    </div>
  </div>

</div>
